<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>templates/post/list.html</title>
</head>
<body>
    <div class="container">
        <a href="/post/new">새글 작성</a>
        <h3>글 목록 입니다</h3>
        <table border="1">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>작성자</th>
                    <th>제목</th>
                    <th>내용</th>
                    <th>등록일</th>
                    <th>수정</th>
                    <th>삭제</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <td>{{ post.num }}</td>
                    <td>{{ post.writer }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.content }}</td>
                    <td>{{ post.created_at }}</td>
                    <td>
                        <a href="/post/edit/{{ post.num }}">수정</a>
                    </td>
                    <td>
                        <a href="/post/delete/{{ post.num }}">삭제</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
<!--
위의 폼을 제출하면 웹브라우저는 아래와 같은 형식의 요청을 전송한다. (post 방식 요청, 한글은 인코딩해서)
------------------------------------ post 방식 ------------------------------------------


POST /post/edit/123 HTTP/1.1
Host: example.com
Content-Type: application/x-www-form-urlencoded
Content-Length: 58


writer=hong&title=%ED%83%80%EC%9D%B4%ED%8B%80&content=%EB%B3%B8%EB%AC%B8


------------------------------------ get 방식 ---------------------------------------


GET /post/edit/123?writer=hong&title=%ED%83%80%EC%9D%B4%ED%8B%80&content=%EB%B3%B8%EB%AC%B8 HTTP/1.1
Host: example.com
User-Agent: (브라우저 UA)
Accept: text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8




-->
